ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn{
    display: inline-block;
    padding: 0 8px;
    font-size: 12px;
    color: #343a40;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 26px;
    box-sizing: border-box;
    line-height: 26px;
}
.row{
    padding: 10px 0;
}
.split{
    display: inline-block;
    color: #ccc;
    height: 26px;
    line-height: 26px;
    padding: 0 4px;
}
#startGet{
    display: none;
}
#getOver{
    display: none;
}
#createGif{
    display: none;
}
#addText{
    display: none;
}
.main-content{
    text-align: center;
}
.loading{
    width: 80px;
    height: 40px;
    margin: 0 auto;
    margin-top:100px;
}
.loading span{
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1s ease infinite;
}
@-webkit-keyframes load{
    0%,100%{
        transform: scale(1);
        /* height: 40px; */
        background: lightgreen;
    }
    50%{
        transform: scale(2);
        /* height: 70px;
        margin: -15px 0; */
        background: lightblue;
    }
}
@-webkit-keyframes textAni{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
.loading{
    display: none;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
}
.btn.btn-gray{
    border:1px solid #343a40;color:#343a40 !important;
}
.btn.btn-gray:hover{
    color:#fff !important;background-color:#343a40;border-color:#343a40
}
.btn.btn-primary{
    border:1px solid #007bff;color:#007bff !important;
}
.btn.btn-primary:hover{
    color:#fff !important;;background-color:#007bff;border-color:#007bff
}
.upload-file{
    position:absolute;opacity:0;height:0;width:0;
}
video{
    margin: 0 auto;
    display: none;
}
.download{
    display: none;
}
#mainImg{
    margin: 0 auto;
    display: block;
}
.operate-area{
    position: relative;
    width: 500px;
    padding: 10px 20px;
    background: #fff;
    text-align: center;
    overflow: auto;
    margin: 0 auto;
}
#gifWidth{
    height: 26px;
    padding: 8px;
    box-sizing: border-box;
}
.tips{
    text-align: center;
    color: #929292;
    font-size: 14px;
    font-weight: 400;
}
.waring{
    color: red;
}
.text-btn{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.5s;
}
.text-btn:active{
    transform: scale(1.1)
}
.text-input{
    width: 160px;
    height: 26px;
    box-sizing: border-box;
    padding: 0 8px;
    
}
.text-list{
    padding-top: 10px;
}
.text-list li{
    text-align: center;
    margin: 0 auto;
}

.text-btn.start{
    background: url('../images/position-blue.png') no-repeat center;
    background-size: cover;
}
.text-btn.on{
    background: url('../images/position-blue.png') no-repeat center;
    background-size: cover;
    animation: textAni 1s infinite linear;
}
.text-btn.end{
    background: url('../images/position-gray.png') no-repeat center;
    background-size: cover;
}
.time-split {
    margin-bottom: 8px !important;
}
.time-input,.size-input{
    width: 60px;
    height: 26px;
    box-sizing: border-box;
    padding: 0 4px;
}
.size-input{
    
}
.positon-select{
    height: 26px !important;
    -webkit-appearance: button !important;
}
.delete-text{
    display: inline-block;
    width: 20px;
    height: 20px;;
    background: url('../images/delete.png') no-repeat center;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}
.tutorial{
    font-size: 14px;
}
.tutorial i{
    color: #007bff;
}
.tutorial p{
    padding-left: 20px;
}
.minicolors-theme-default .minicolors-input{
    width: 100px !important;
    height: 26px !important;
}
